﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="app">
        <div class="top-bar">
            <div class="contact">
                <span class="phone-number">0123.456.7889(HN)</span>
                <span class="phone-number">0123.496.7889(HCM)</span>
                <span class="ads">Liên hệ quảng cáo</span>
                <button class="btn">Like</button>
                <button class="btn">Follow</button>
                <button class="btn">Youtube</button>

            </div>
            <div class="auth">
                <span class="auth-btn">Đăng nhập</span>
                <span class="auth-btn">Đăng kí</span>
                <input type="text" name="name" value="" class="search-bar" />
            </div>
        </div>
        <div class="main-bar">
            <div class="logo-img">
                <img src="~/Content/image/Logo_Vnexpress.png" />
            </div>
            <div class="ads-img">
                <img src="~/Content/image/banner-ads-1.png" />
            </div>
            <div class="ads-img">
                <img src="~/Content/image/banner-ads-2.png" />
            </div>
        </div>
    </div>
    <div>
        @RenderBody()   
    </div>
</body>
</html>
